section.section-careers.section-2(class="lg:py-100px py-50px bg-blue")
	.container
		.bg-white.p-45px.rounded-lg(class="shadow-[3px_3px_10px_rgba(0,0,0,0.2)]")
			.overflow-auto
				table
					thead
						tr
							th Position
							th Number
							th Location
							th
					tbody
						-for(i=0;i<8;i++)
							tr
								td
									h3(class="hover:text-secondary transition-all duration-300 lg:text-28px text-2xl font-bold")
										a(href="") Trưởng bộ phận kho
								td 01
								td Vung Tau, VN
								td
									a(href="" class="bg-primary text-white text-center py-10px px-10px min-w-200px text-20px font-semibold inline-flex justify-center rounded-3xl hover:bg-secondary transition-all duration-300") Apply Now