section.we-are-ssg.section-4(class="xl:py-100px lg:py-50px py-30px relative" setBackground="./img/we-are-ssg/bg.jpg")
	.container
		.p-20px(class="sm:p-40px")
			.flex.flex-wrap.wrap-content-icon(class="gap-y-30px lg:gap-y-0 -mx-20px sm:-mx-40px")
				div(class="w-1/2 lg:w-1/4 px-20px sm:px-40px flex flex-col items-center")
					.icon(class="w-108px h-108px rounded-full bg-primary flex items-center justify-center")
						+PugImg('./img/we-are-ssg/3.svg')
					h3.text-white.mb-20px.font-bold.text-center(class="text-20px xl:text-28px") Vision
					p.text-white.text-center(class="text-18px xl:text-20px") S&S Glove aims to enter the Top 10 Medical Glove Manufacturers in the world.
				div(class="w-1/2 lg:w-1/4 px-20px sm:px-40px flex flex-col items-center")
					.icon(class="w-108px h-108px rounded-full bg-primary flex items-center justify-center")
						+PugImg('./img/we-are-ssg/4.svg')
					h3.text-white.mb-20px.font-bold.text-center(class="text-20px xl:text-28px") Mission
					p.text-white.text-center(class="text-18px xl:text-20px") Contributing to protect community health and safety.
				div(class="w-1/2 lg:w-1/4 px-20px sm:px-40px flex flex-col items-center")
					.icon(class="w-108px h-108px rounded-full bg-primary flex items-center justify-center")
						+PugImg('./img/we-are-ssg/5.svg')
					h3.text-white.mb-20px.font-bold.text-center(class="text-20px xl:text-28px") Human Resources
					p.text-white.text-center(class="text-18px xl:text-20px") Experienced experts in the industry accompany a young and creative thinking team.
				div(class="w-1/2 lg:w-1/4 px-20px sm:px-40px flex flex-col items-center")
					.icon(class="w-108px h-108px rounded-full bg-primary flex items-center justify-center")
						+PugImg('./img/we-are-ssg/6.svg')
					h3.text-white.mb-20px.font-bold.text-center(class="text-20px xl:text-28px") Commitment
					p.text-white.text-center(class="text-18px xl:text-20px") Optimizes the production of medical gloves in order to gain consumers' trust and satisfaction.
+SlideLogo('CERTIFICATIONS')(class="py-30px sm:py-50px lg:py-100px")