section.section-sustainability.section-3(class="xl:py-100px lg:py-50px py-30px bg-blue")
	.container
		.flex(class="lg:grid flex-col lg:grid-cols-[1fr_.95fr] gap-30px lg:gap-60px xl:gap-125px")
			div(class="wrap-image relative")
				.img.overflow-hidden.rounded-lg.zoom-img(class="block relative lg:absolute top-0 left-0 w-full h-full")
					a(href="" data-fancybox)
						+PugImg().w-full.h-full.object-cover
			.wrap-content.flex.flex-col
				h2.title-40px(class="xl:mb-30px mb-15px") Manufacturing
				.desc.text-20px.text-gray.margin-p.flex-1.overflow-auto.pr-5
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae semper tortor. Duis consequat risus id nisl aliquam tempus. Duis vestibulum suscipit neque, id ullamcorper urna pharetra ac. Cras sed interdum elit, a porta arcu. Etiam auctor scelerisque efficitur. Vestibulum
					p Maecenas nec metus gravida, cursus nibh eu, tincidunt nunc. Morbi varius malesuada diam et molestie. Maecenas commodo euismod est a bibendum. Nulla molestie interdum finibus. Cras eu risus felis. Vestibulum accumsan bibendum nulla, a vehicula urna elementum ac.
					p
						strong Mr.DUONG THANH SANG
						br
						span General Director
				a.mt-60px.block.text-primary.text-20px.font-semibold(class="transition-all hover:text-secondary" href="") Read more
