section.section-sustainability.section-2(class="xl:py-100px lg:py-50px py-30px")
	.container
		.wrap-slide-tab.wrap-slide-main.relative
			div(class='px-30px sm:px-0 max-w-1200px mx-auto')
				.swiper
					.swiper-wrapper
						-for(i=0;i<5;i++)
							.swiper-slide
								.item-slide-tab.text-center.uppercase(class="transition-all duration-300 hover:text-primary cursor-pointer text-2xl lg:text-28px text-gray")
									span Community
			.wrap-button-slide.none-static
				.btn.btn-prev.btn-sw-1
				.btn.btn-next.btn-sw-1
		.wrap-slide-content.mt-55px
			.swiper
				.swiper-wrapper
					-for(a=0;a<5;a++)
						.swiper-slide
							.item-slide-content
								h2.title-40px.text-center.mb-30px Empowering local communities
								.desc.text-20px.text-gray.margin-p
									p We work closely with like minded volunteers, partners and government agencies to create more inclusive opportunities that empower communities. To this end, Hartalega regularly organizes various community-based programmes and initiatives
								.flex.flex-wrap.justify-center(class="-mx-20px lg:-mx-33px gap-y-30px mt-30px")
									-for(i=0;i<5;i++)
										div(class="w-1/2 px-20px lg:w-1/3 xl:w-1/5 lg:px-33px")
											.item-tag(class="bg-primary flex flex-col items-center text-white p-5 rounded-lg h-150px justify-center")
												img(src="./img/sustainability/1.svg", alt="" class="w-80px")
												p.text-20px.clamp-1.mt-10px Education