section.page-banner-main.relative
	.img(class="h-[50vh] lg:h-690px")
		img(src="./img/we-are-ssg/1.jpg", alt="" class="w-full h-full object-cover")
	.container(class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10")
		div(class="xl:max-w-70% max-w-full text-white")
			h1.uppercase.text-28px.mb-5.font-thin.tracking-wide We Are SSG
			h2.font-extrabold.leading-snug(class="text-3xl sm:text-50px") S&S Glove is born with the aim to contribute to community health protection through high-quality gloves.
