.swiper-slide
	.section-swiper.section-home-7.bg-gradient
		.container.h-full.flex.items-center
			.flex.flex-wrap.w-full
				.col-left
					.img-left
						img(src="./img/s7-1_1.png", alt="")
				.col-mid
					.box-content-middle
						.swiper
							.swiper-wrapper
								-for(i=0;i<5;i++)
									.swiper-slide
										.item-product-wrap.text-center
											h1.text-secondary.text-100px.font-black.font-Gilroy.leading-tight.mb-30px Sản Phẩm
											h2.text-secondary.text-50px.font-black.font-Gilroy.uppercase.mb-35px Nhà phố thương mại
											p.text-white.text-20px Kết hợp cảm hứng bất tận về dòng chảy thiên nhiên và hiện thực hóa cuộc sống hiện đại, tiện nghi với nhiều trải nghiệm đắt giá cho mọi cư dân, T&T Tamda còn bố trí các tiện ích đa dạng vừa tối đa hóa hoạt động sống vừa gắn liền cùng mạch sống tự nhiên ngay trong lòng nội
						.wrap-custom-slide.relative.flex.items-center.justify-center.gap-50px.w-fit.mx-auto.mt-40px
							.wrap-active-number-slide.border.border-white.rounded-lg.w-fit.text-white.px-15px
								span.current 3
								span.seperator /
								span.total 5
							.btn.btn-prev.btn-sw-4
							.btn.btn-next.btn-sw-4
				.col-right
					.img-right
						img(src="./img/s7-2.png", alt="")