block var
block mixins
	include ../blocks/mixins.pug
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(rel="stylesheet" href="styles/global.min.css")
		link(rel="stylesheet" href="styles/global.min.css")
		link(rel="stylesheet" href="styles/main.min.css")
		link(rel="preconnect", href="https://fonts.googleapis.com")
		link(href="https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap", rel="stylesheet")
		title #{title}
	body(class=bodyClass)
		block header
			include ../../global/Header/header.pug
		main
			.fullpage-swiper
				.swiper.swiper-full-current
					.swiper-wrapper
						block main
		block footer
			include ../../global/Footer/footer.pug
		.overlay
		.fullpage-slide-thumb
			.swiper
				.swiper-wrapper
		//- // script Lazyload css and js //
		script(src="scripts/global.min.js")
		script(src="scripts/main.min.js")