.swiper-slide.bg-gradient
	section.section-swiper.section-home-2
		.grid(class="lg:grid-cols-2 h-full")
			.content-left.flex.items-end
				.img.relative
					img(src="./img/s2-moon.png", alt="" class="edge-moon")
					img(src="./img/s2-cloud.png", alt="" class="edge-cloud")
					img(src="./img/s2-img.png", alt="" class="edge-building")
			.content-right.flex.flex-col.justify-center
				.wrap-title.font-Gilroy.leading-none.text-right
					.font-black.flex.text-secondary.items-center.justify-end
						.text-50px.leading-none.text-right
							p Biểu Tượng
							p Thịnh vượng
						.text-147px.uppercase Mới
					h2.text-secondary Ngay trung tâm TP.Vĩnh Long
					.line-white
				.wrap-content.text-white.text-20px
					p Ngay trung tâm TP. Vĩnh Long, một khu đô thị kiểu mẫu lần đầu tiên xuất hiện với quy mô bậc nhất khu vực, nổi bật với lối kiến trúc biểu tượng kết hợp hệ tiện ích đẳng cấp.
					p Ngay trung tâm TP. Vĩnh Long, một khu đô thị kiểu mẫu lần đầu tiên xuất hiện với quy mô bậc nhất khu vực, nổi bật với lối kiến trúc biểu tượng kết hợp hệ tiện ích đẳng cấp.
					p T&T Tamda đang trở thành điểm đến mới để an cư, kinh doanh và đầu tư cho cộng đồng cư dân năng động
				a(href="" class="btn btn-view-more")
					span Xem thêm
