section.section-careers-detail(class="xl:py-100px py-50px")
	.container
		.flex.flex-wrap(class="-mx-20px xl:-mx-25px")
			div(class="w-full lg:w-8/12 p-25px")
				.content.margin-p.text-20px
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis inventore ipsum natus quos. Omnis ipsum illo, soluta incidunt libero vel consequatur pariatur eligendi deserunt consectetur, similique obcaecati ducimus, repudiandae rerum.
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat error, similique dignissimos placeat hic distinctio ducimus vero libero natus voluptatibus excepturi commodi laboriosam quae officiis eum beatae labore impedit. Officiis!
					ul
						li Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex deserunt sint necessitatibus dolor illum, enim hic dolores eligendi quia impedit laboriosam, magni sit ducimus dicta quam similique! Quae, commodi culpa.
						li Lorem ipsum dolor, sit amet consectetur adipisicing elit.
				.wrap-form-main.bg-blue.bg-opacity-80.p-50px.rounded-lg.mt-50px
					.title-40px.mb-40px Application form
					.wrap-form(class="flex flex-col sm:grid sm:grid-cols-2 gap-25px")
						.form-group.col-span-2
							input(type="text" placeholder="Position")
						.form-group
							input(type="text" placeholder="Last Name")
						.form-group
							input(type="text" placeholder="Job Title")
						.form-group
							input(type="text" placeholder="Email Address")
						.form-group
							input(type="text" placeholder="Phone Number")
						.form-group.col-span-2
							textarea(name="", cols="30", rows="10" placeholder="Leave A Message")
						.button-submit
							input(type="submit" value="Submit")
			div(class="w-full lg:w-4/12 p-25px")
				.sticky.top-120px
					ul.list-social.flex.gap-x-15px
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_1.svg", alt="")
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_2.svg", alt="")
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_3.svg", alt="")
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_4.svg", alt="")
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_5.svg", alt="")
					.box-blue.bg-blue.p-30px.mt-40px.bg-opacity-80
						.text-primary.text-28px.font-bold.mb-15px Liên hệ
						ul.flex.flex-col.gap-10px
							li.flex.items-center.gap-x-10px.text-20px.font-thin
								.icon.w-20px.flex.justify-center
									svg#Group_585(data-name="Group 585", xmlns="http://www.w3.org/2000/svg", width="18.314", height="14.096", viewBox="0 0 18.314 14.096")
										g#Group_584(data-name="Group 584")
											path#Path_214(data-name="Path 214", d="M55.015,755.489l6.363,7.221a1.907,1.907,0,0,0,2.861,0l6.253-7.1a.688.688,0,0,1,.178-.14,2.154,2.154,0,0,0-.865-.181H55.812a2.155,2.155,0,0,0-.83.166C54.992,755.469,55,755.477,55.015,755.489Z", transform="translate(-53.651 -755.293)", fill="#434443")
											path#Path_215(data-name="Path 215", d="M71.412,756.474a.686.686,0,0,1-.123.206l-6.253,7.1a3.265,3.265,0,0,1-4.9,0l-6.364-7.221c-.013-.015-.021-.031-.033-.046a2.149,2.149,0,0,0-.311,1.113V767.4a2.161,2.161,0,0,0,2.162,2.162H69.583a2.161,2.161,0,0,0,2.161-2.162v-9.773A2.149,2.149,0,0,0,71.412,756.474Z", transform="translate(-53.43 -755.461)", fill="#434443")
								p tuyendung@ssglove.vn
							li.flex.items-center.gap-x-10px.text-20px.font-thin
								.icon.w-20px.flex.justify-center
									svg#Group_586(data-name="Group 586", xmlns="http://www.w3.org/2000/svg", width="16.442", height="16.061", viewBox="0 0 16.442 16.061")
										path#Path_216(data-name="Path 216", d="M60.547,804.489c.138,4.169,1.67,7.023,3.053,7.023s2.915-2.855,3.053-7.023Z", transform="translate(-55.378 -795.847)", fill="#434443")
										path#Path_217(data-name="Path 217", d="M63.6,794.875c-1.383,0-2.915,2.855-3.053,7.023h6.106C66.514,797.73,64.982,794.875,63.6,794.875Z", transform="translate(-55.378 -794.48)", fill="#434443")
										path#Path_218(data-name="Path 218", d="M68.692,801.833h3.945a8.247,8.247,0,0,0-6.351-7.419C67.658,795.72,68.591,798.464,68.692,801.833Z", transform="translate(-56.194 -794.414)", fill="#434443")
										path#Path_219(data-name="Path 219", d="M68.692,804.489c-.1,3.369-1.034,6.113-2.406,7.419a8.246,8.246,0,0,0,6.351-7.419Z", transform="translate(-56.194 -795.847)", fill="#434443")
										path#Path_220(data-name="Path 220", d="M58.466,804.489H54.521a8.246,8.246,0,0,0,6.352,7.419C59.5,810.6,58.567,807.858,58.466,804.489Z", transform="translate(-54.521 -795.847)", fill="#434443")
										path#Path_221(data-name="Path 221", d="M58.466,801.833c.1-3.368,1.034-6.112,2.407-7.419a8.247,8.247,0,0,0-6.352,7.419Z", transform="translate(-54.521 -794.414)", fill="#434443")
								p ssglove.vn
							li.flex.items-center.gap-x-10px.text-20px.font-thin
								.icon.w-20px.flex.justify-center
									svg#Group_583(data-name="Group 583", xmlns="http://www.w3.org/2000/svg", width="12.553", height="18.52", viewBox="0 0 12.553 18.52")
										g#Group_582(data-name="Group 582")
											path#Path_212(data-name="Path 212", d="M69.342,845.254V834.043a2.264,2.264,0,0,0-2.264-2.264H59.052a2.263,2.263,0,0,0-2.263,2.264v11.211Zm-6.276-12.065a.679.679,0,1,1-.679.679A.679.679,0,0,1,63.065,833.189Z", transform="translate(-56.789 -831.779)", fill="#434443")
											path#Path_213(data-name="Path 213", d="M56.789,849.07v1.425a2.263,2.263,0,0,0,2.263,2.264h8.026a2.264,2.264,0,0,0,2.264-2.264V849.07Zm6.276,2.429a.678.678,0,1,1,.678-.678A.679.679,0,0,1,63.065,851.5Z", transform="translate(-56.789 -834.238)", fill="#434443")
								p 0283 872 5999 số nội bộ 1011 (HCNS)