section.section-careers.section-3(class="lg:py-100px py-50px")
	.container
		h2.title-40px.mb-40px S&S Glove working environment
		.wrap-item-adv(class="grid gap-30px grid-cols-2 lg:grid-cols-4 lg:gap-x-27px")
			-for(i=0;i<4;i++)
				.item-adv-main.flex.flex-col(class="hover:shadow-[0.3125rem_0.3125rem_0.520rem_rgba(0,0,0,0.2)] transition-all sm:min-h-350px sm:max-h-350px  md:min-h-450px md:max-h-450px bg-gradient-to-b from-[#8ABB2A] to-[#8BD300] overflow-hidden rounded-lg rounded-bl-40px items-center  p-20px sm:p-30px sm:pt-50px shadow-[0px_0px_0.5208rem_rgba(0,0,0,0.2)] duration-300")
					.img.mb-25px
						img(src="./img/carrers/1.svg", alt="" class="h-60px")
					h3.title.text-white.font-bold.text-center.mb-20px(class="text-18px md:text-xl xl:text-28px") Transparent & Open Communication
					.desc.text-white.font-thin.flex-1.overflow-auto(class="text-14px :text-18px xl:text-20px text-center")
						p Communicate openly and increases the sharing of ideas. Strengthening relationships by preventing misunderstandings and clearing up existing ones.
