.section-home-6
	.wrap-bg
		background-image: url('../img/s6-bg.png')
		background-size: 100% 100%
		background-repeat: no-repeat
		background-position: top
		padding: 0 r(70px)
	.img
		position: relative
		width: 930px
		.edge-circle
			position: relative
		.edge-cloud
			position: relative
		.edge-building
			position: absolute
			top: 32%
			z-index: 3
			left: 53%
			transform: translate(-50%,-50%)
		.edge-cloud-left
			position: absolute
			top: 33%
			z-index: 2
			left: -10%
			mix-blend-mode: screen
		.edge-cloud-right
			position: absolute
			bottom: 10%
			right: -10%
			z-index: 2
			mix-blend-mode: screen