.item-product-main
	display: flex
	flex-direction: column
	height: 100%
	.product-img
		a
			+img-ratio(200/359)
	.product-content
		flex: 1
		background-color: #fff
		display: flex
		flex-direction: column
		.icon
			margin-top: r(-55px)
			position: relative
			z-index: 10
.item-logo-main
	a
		+img-ratio(154/274)
.item-news-main
	.img
		a
			display: block
			width: 100%
			height: 100%
			img
				width: 100%
				height: 100%
				object-fit: cover
.item-events-main
	&.live
		@apply bg-primary
		.live
			@apply bg-secondary text-white