section.section-sustainability.section-update(class="py-30px sm:py-50px lg:py-100px")
	.container
		.flex(class="lg:grid flex-col lg:grid-cols-[1fr_1fr] gap-30px xl:gap-90px")
			div(class="wrap-content relative")
				.wrap.top-0.left-0.w-full.h-full(class="relative lg:absolute flex-col flex")
					h2.title-40px(class="xl:mb-30px mb-15px") Corporate responsibility: Our commitment
					.desc.text-20px.text-gray.margin-p.flex-1.overflow-auto.pr-5
						p We undertake multiple sustainability focused programmes on an annual basis. Our community centred programmes enrich the lives of the communities around us and contribute to nation-building efforts. In all that we do, we advocate the fair and equitable treatment of every Hartanian and ensure that their welfare is justly protected without discrimination. At the same time, we are committed to continually improving, adapting and monitoring all aspects of our operations to ensure sustainable growth.
						p Our sustainability vision encapsulates four dimensions:
			div(class="wrap-image")
				.img.relative.overflow-hidden.rounded-lg.zoom-img
					a(href="" data-fancybox)
						+PugImg()

