.swiper-slide.section-home-11
	.section-swiper.bg-gradient.flex.items-center
		.container
			.wrap-box-home-11
				h1.text-secondary.font-Gilroy.font-black.text-center.leading-none.mb-40px(class="text-64px lg:text-80px xl:text-100px") Tin tức sự kiện
				.wrap-post.relative
					.swiper
						.swiper-wrapper
							-for(i=0;i<5;i++)
								.swiper-slide
									.item-post-main
										.img.zoom-img
											a(href="")
												img(src="./img/s11-1.png", alt="")
										.content
											h2.text-primary.uppercase.text-27px.font-bold.mb-10px(class="trnasition-all duration-300 hover:text-secondary hover:underline")
												a(href="")  Kiến trúc độc đáo
											p.text-18px.text-gray.mb-30px Kiến trúc ấn tượng với cảm hứng từ vùng đất Florida, mang hơi hướng kiến trúc bản địa Mỹ, Art Decor, hài hòa với nét đặc trưng khí hậu và văn hoá vùng Vĩnh Long.
											.flex.justify-center
												a(href="" class="btn btn-view-more !ml-0")
													span Xem thêm
					.wrap-button-slide
						.btn.btn-prev.btn-sw-4
						.btn.btn-next.btn-sw-4
