.swiper-slide.section-home-12
	.section-swiper.bg-gradient.flex.items-center(setBackground="./img/s12-bg.png")
		.container
			.footer-1
				.flex.flex-wrap(class="-mx-15px")
					div(class="w-full sm:w-5/12 px-15px")
						.logo(class="p-20px lg:p-0")
							img(src="./img/s12-1.png", alt="")
					div(class="w-full sm:w-7/12 px-15px content-right flex items-center wrap-logo-small")
						.flex.items-center.justify-center(class="gap-20px lg:gap-40px")
							.img
								img(src="./img/s12-2.png", alt="")
							.img
								img(src="./img/s12-3.png", alt="")
							.img
								img(src="./img/s12-4.png", alt="")
			.footer-2
				.flex.flex-wrap(class="-mx-15px gap-30px")
					div(class="w-full md:w-5/12 px-15px content-left")
						h2.text-primary.font-Gilroy.font-black.mb-20px.leading-none(class="text-64px lg:text-80px xl:text-100px") Liên Hệ
						p.text-primary.mb-15px.hotline(class="text-xl lg:text-2xl") Hotline: 0977 11 8888
						p.text-primary.leading-tight.address(class="text-xl lg:text-2xl") ĐỊA CHỈ:
							br
							| 5-7-9 Nội Khu Hưng Gia 4, P. Tân Phong, Q7
						.flex.mt-30px.wrap-social(class="gap-40px xl:gap-80px")
							.map.flex.uppercase.text-primary.text-base.items-end.leading-none
								img(src="./img/s12-icon-map.png", alt="")
								a(href="" class="hover:underline") Xem google map
							.social.leading-none.flex.flex-col.justify-between
								.flex.gap-10px
									a(href="")
										img(src="./img/s12-icon-fb.png", alt="")
									a(href="")
										img(src="./img/s12-icon-ytb.png", alt="")
								p.text-primary.text-base © 2022 T&T Tamda
					div(class="w-full md:w-7/12 px-15px")
						.box-register-form
							.text-secondary.text-4xl.uppercase.text-center.font-black.font-Gilroy.mb-35px Đăng kí
							.wrap-form
								.form-group
									input(type="text" placeholder="Họ tên (*)")
								.form-group
									input(type="text" placeholder="Điện thoại (*)")
								.form-group
									input(type="text" placeholder="Nơi sống (*)")
								.form-group
									input(type="text" placeholder="Lời nhắn")
								.wrap-btn.flex.justify-center.mt-20px
									input(type="submit" value="Đăng ký ngay")
			.footer-copyright.text-center.text-secondary.text-20px.italic.leading-snug(class='sm:mt-100px mt-30px')
				p Lưu ý: Mọi hình ảnh trong tài liệu chỉ mang tính chất minh họa.
					br
					| Mọi thông tin sử dụng trong tài liệu này đúng tại thời điểm phát hành và có thể được điều chỉnh mà Chủ đầu tư không cần thông báo trước.
					br
					| Các thông tin chính thức sẽ được thể hiện trong văn bản ký kết giữa Bên bán và Bên mua.