section.section-contact-us(class="xl:py-100px py-50px")
	.container
		.flex.flex-wrap(class="lg:grid lg:grid-cols-2 gap-50px")
			.flex.flex-col.gap-25px.w-full
				a.item-tab-contact.active.h-100px.text-center.flex.items-center.justify-center.text-20px.font-bold(href="" class="w-full rounded-lg border-[#D1E3F1]") Sales Contact
				-for(i=0;i<2;i++)
					a.item-tab-contact.h-100px.text-center.flex.items-center.justify-center.text-20px.font-bold(href="" class="w-full rounded-lg border-[#D1E3F1] transition-all duration-300 hover:bg-primary hover:border-primary hover:text-white") Sales Contact
			.wrap-form.bg-blue-2.py-30px.rounded-lg(class="md:px-45px px-20px w-full")
				.title-40px.mb-30px Sales contact
				.wrap-form(class="flex flex-col sm:grid sm:grid-cols-2 gap-25px")
					.form-group
						input(type="text" placeholder="Company Name")
					.form-group
						input(type="text" placeholder="First Name")
					.form-group
						input(type="text" placeholder="Last Name")
					.form-group
						input(type="text" placeholder="Job Title")
					.form-group
						input(type="text" placeholder="Address")
					.form-group
						input(type="text" placeholder="Zip / Postcode")
					.form-group
						input(type="text" placeholder="City")
					.form-group
						input(type="text" placeholder="State / Province")
					.form-group
						select(name="")
							option(value="" selected hidden) Country
							option(value="") Vietnam
					.form-group
						select(name="")
							option(value="" selected hidden) Region
					.form-group
						input(type="text" placeholder="Phone Number")
					.form-group
						input(type="text" placeholder="Fax Number")
					.form-group.col-span-2
						input(type="text" placeholder="Email Address")
					.form-group
						select(name="")
							option(value="Shipping Destination Country" hidden selected) Shipping Destination Country
					.form-group
						input(type="text" placeholder="Shipping Destination Region")
					.form-group.col-span-2
						input(type="text" placeholder="Other Destination(s)")
					.form-group.col-span-2
						textarea(name="", cols="30", rows="10" placeholder="Leave A Message")
					.button-submit
						input(type="submit" value="Submit")
+SlideLogo(class="xl:py-100px py-50px")