extends layout/_layout.pug

block var
	- var title = ''
	- var bodyClass = ''
block main
	include ../components/common/breadcrumb/breadcrumb.pug
	include ../components/common/banner/banner.pug
	include ../components/careers/section-1/section-1.pug
	include ../components/careers/section-2/section-2.pug
	include ../components/careers/section-3/section-3.pug
	include ../components/careers/section-4/section-4.pug
