extends layout/_layout.pug

block var
	- var title = ''
	- var bodyClass = 'homepage'
block main
	//- include ../components/home/home-1/home-1.pug
	//- include ../components/home/home-2/home-2.pug
	//- include ../components/home/home-3/home-3.pug
	//- include ../components/home/home-4/home-4.pug
	//- include ../components/home/home-5/home-5.pug
	//- include ../components/home/home-6/home-6.pug
	//- include ../components/home/home-7/home-7.pug
	//- include ../components/home/home-8/home-8.pug
	//- include ../components/home/home-9/home-9.pug
	include ../components/home/home-10/home-10.pug