extends layout/_layout.pug

block var
	- var title = ''
	- var bodyClass = 'homepage'
block main
	include ../components/Home/home-1/index.pug
	include ../components/Home/home-2/index.pug
	include ../components/Home/home-3/index.pug
	include ../components/Home/home-4/index.pug
	include ../components/Home/home-5/index.pug
	include ../components/Home/home-6/home-6.pug
