.swiper-slide
	.section-home-5.section-swiper.bg-gradient
		.container-padding.h-full
			.wrap-bg.h-full
				.flex.items-center.h-full.wrap-main
					.grid.gap-50px(class="grid-cols-[1.3fr_1fr]")
						.wrap-img
							.img.relative
								img(src="./img/s5-building-1.png", alt="" class="edge-building")
								img(src="./img/s5-circle.png", alt="" class="edge-circle")
								img(src="./img/s5-cloud-left.png", alt="" class="edge-cloud-left")
								img(src="./img/s5-cloud-right.png", alt="" class="edge-cloud-right")
						.content.flex.flex-col.justify-center.text-right
							h2(class="lg:text-50px font-Gilroy font-black leading-none text-secondary") Phân khu
							h1(class="text-100px font-Gilroy font-black leading-none text-secondary") T&T Đa Phúc
							p.text-20px(class="text-[#848484] mt-30px") Tọa lạc tại trung tâm của thành phố Vĩnh Long, kết nối 2 trục đường chính Phó Cơ Điều (Quốc lộ 53) và Nguyễn Huệ, từ KĐT T&T Tamda cư dân có thể nhanh chóng kết nối với TP.HCM và các tỉnh lân cận thông qua các tuyến giao thông huyết mạch đã hoàn thiện  	 và đồng bộ như: Quốc lộ 53, Quốc lộ 57, Quốc lộ 1A, Quốc lộ 80, cần Mỹ Thuận, phà Đình Khao... Đồng thời cộng hưởng từ hệ tiện ích ngoài khu hoàn hảo, tạo nên một không
							a(href="" class="btn btn-view-more mt-30px lg:mt-100px")
								span Xem thêm

