section.section-latest-news(class="py-30px md:py-60px xl:py-100px bg-[#F1F7FC]")
	.container
		h2.title-40px.mb-40px(data-aos="fade-up") Latest News
		.wrap-slide-main.relative(data-aos="fade-up" data-aos-delay="300")
			.swiper-padding
				.swiper
					.swiper-wrapper
						-for(i=0;i<5;i++)
							.swiper-slide
								.item-product-main
									.product-img.zoom-img(class="rounded-lg overflow-hidden")
										a(href="")
											+PugImg()
									.product-content.px-7.py-30px(class="min-h-350px shadow-lg rounded-b-10px rounded-bl-30px")
										a.text-20px.text-gray(class="hover:text-secondary transition-all" href="") Artical subject - March
										h3.product-title.text-primary.font-bold.text-28px.my-10px(class="hover:text-secondary transition-all")
											a(href="") 3 things to compare of nitrile
										p.product-desc.text-20px.text-gray-1.leading-tight(class="mb-15px lg:mb-30px") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum libero ac ante imperdiet, id molestie nunc accumsan. In a mauris et nibh varius condimentum. Vivamus ultricies...
										a.flex.text-primary.text-20px.font-semibold.w-fit.ml-auto.mt-auto(href="" class="hover:text-secondary transition-all") Read more
			.wrap-button-slide
				.btn.btn-prev.btn-sw-1
				.btn.btn-next.btn-sw-1
			+LinkProduct('News & Events').flex.justify-end.mt-50px
