.swiper-slide
	.section-home-10.section-swiper.bg-gradient
		.flex.flex-wrap.h-full
			div(class="w-5/12")
				.content-left.flex.items-center.h-screen.bg-white
					.wrap-center-middle.w-full
						.wrap-title.w-fit.mx-auto
							.title-top.flex.items-center.w-fit
								.number.font-Gilroy.font-black.text-primary.text-172px.leading-none.mr-10px 5
								.title.flex.items-center.gap-10px
									.wrap
										p.text-secondary.font-Gilroy.font-black.text-45px.leading-tight Yếu tố
										p.text-primary.font-Gilroy.uppercase.text-55px.font-black.leading-none Vàng
									img(src="./img/s10-logo.png", alt="")
							.title-bottom.uppercase.text-secondary.text-right.font-bold.text-27px.leading-tight(class='-mt-8') Trở thành khu đô thị
								br
								| hấp dẫn hàng đầu vĩnh long
						.wrap-quotes.mt-50px
							.swiper
								.swiper-wrapper
									-for(i=0;i<5;i++)
										.swiper-slide
											.item-quotes.py-10px
												h2.title.text-50px.font-Gilroy.font-black.text-primary.leading-tight.text-center KIẾN TRÚC
													br
													| ĐỘC ĐÁO
												.desc.text-18px.text-gray.mt-30px.text-center.text-justify.text-last-center Kiến trúc ấn tượng với cảm hứng từ vùng đất Florida, mang hơi hướng kiến trúc bản địa Mỹ, Art Decor, hài hòa với nét đặc trưng khí hậu và văn hoá vùng Vĩnh Long.
							.wrap-button-slide-custom.flex.items-center.justify-end.gap-15px
								.wrap-active-number-slide.border.border-gray.rounded-lg.w-fit.text-gray.px-15px
									span.current 3
									span.seperator /
									span.total 5
								.btn.btn-prev.btn-sw-2
								.btn.btn-next.btn-sw-2
			div(class="w-7/12")
				.content-right.h-full
					.swiper
						.swiper-wrapper
							-for(i=0;i<5;i++)
								.swiper-slide
									.img.h-full
										img(src="./img/s10-1.png", alt)
