section.section-news-detail(class="xl:py-100px py-50px")
	.container
		.flex.flex-wrap(class="-mx-20px xl:-mx-50px")
			div(class="w-full lg:w-8/12 p-20px xl:p-50px")
				.content.margin-p.text-20px
					p
						strong The process of using gloves will probably lead to some problems that make you question yourself. In the following article, S&S Glove will answer the 5 most frequently asked questions of users when using nitrile gloves.
					h2 Are nitrile gloves good oil resistant?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis inventore ipsum natus quos. Omnis ipsum illo, soluta incidunt libero vel consequatur pariatur eligendi deserunt consectetur, similique obcaecati ducimus, repudiandae rerum.
					h2 Are nitrile gloves good oil resistant?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat error, similique dignissimos placeat hic distinctio ducimus vero libero natus voluptatibus excepturi commodi laboriosam quae officiis eum beatae labore impedit. Officiis!
					h2 Are nitrile gloves good oil resistant?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat error, similique dignissimos placeat hic distinctio ducimus vero libero natus voluptatibus excepturi commodi laboriosam quae officiis eum beatae labore impedit. Officiis!
					h2 Are nitrile gloves good oil resistant?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat error, similique dignissimos placeat hic distinctio ducimus vero libero natus voluptatibus excepturi commodi laboriosam quae officiis eum beatae labore impedit. Officiis!
					h2 Are nitrile gloves good oil resistant?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat error, similique dignissimos placeat hic distinctio ducimus vero libero natus voluptatibus excepturi commodi laboriosam quae officiis eum beatae labore impedit. Officiis!
					h2 Are nitrile gloves good oil resistant?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat error, similique dignissimos placeat hic distinctio ducimus vero libero natus voluptatibus excepturi commodi laboriosam quae officiis eum beatae labore impedit. Officiis!
				.flex.items-center.justify-between.mt-50px.flex-wrap.gap-10px
					ul.list-tag.flex.items-center.gap-10px.flex-wrap
						-for(i=0;i<2;i++)
							li
								a.text-primary(class="text-20px border border-primary rounded-3xl h-40px px-20px transition-all hover:bg-secondary hover:border-secondary hover:text-white font-thin flex items-center justify-center"  href="") Nitrile Gloves
					ul.list-social.flex.gap-x-15px(class="lg:flex hidden")
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_1.svg", alt="")
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_2.svg", alt="")
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_3.svg", alt="")
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_4.svg", alt="")
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_5.svg", alt="")
			div(class="w-full lg:w-4/12 p-20px xl:p-50px")
				.sticky.top-120px
					ul.list-social.flex.gap-x-15px
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_1.svg", alt="")
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_2.svg", alt="")
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_3.svg", alt="")
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_4.svg", alt="")
						li
							a(href="" class="transition-all hover:grayscale-0").grayscale
								img(src="./img/homepage/footer_5.svg", alt="")
					.wrap-post-other.mt-30px
						.text-28px.font-bold.text-primary More like this
						-for(i=0;i<4;i++)
							.item-post-other.grid.mt-30px(class="min-h-100px lg:min-h-80px lg:grid-cols-[.45fr_1fr] lg:gap-x-10px grid-cols-[150px_1fr] gap-x-20px")
								.img.rounded-lg.overflow-hidden.zoom-img
									+PugImg().w-full.h-full.object-cover
								.content
									.text-sm.font-thin Article subject - March 10th
									a.text-20px.font-semibold.text-primary.leading-none(class="hover:text-secondary transition-all duration-300" href="") Meaning of standards for medical gloves
					.wrap-box.bg-blue-2.p-20px.mt-50px.rounded-lg.gap-x-20px.grid.items-center(class="grid-cols-[1.1fr_.9fr]")
						.text-20px.text-gray-1(class="text-18px xl:text-20px")
							p.whitespace-nowrap Have any questions?
							p.whitespace-nowrap Please share with us.
						a.text-white(class="bg-primary rounded-lg h-50px flex items-center justify-center text-20px transition-all duration-300 hover:bg-secondary" href="") Contact Us
