section.section-careers.section-1(class="lg:py-100px py-50px")
	.container
		.flex.flex-col(class="lg:grid lg:grid-cols-2 lg:gap-30px")
			.flex.flex-col.items-center.justify-center.text-center.text-primary
				h2.text-primary.font-extrabold(class="sm:text-150px text-100px leading-none") 100+
				p.text-primary(class="sm:text-40px text-3xl font-semibold") employees and counting
			.content(class="lg:mt-0 lg:text-left text-center mt-30px")
				h2.title-40px Why S&S Glove?
				.desc.margin-p.text-20px.mt-20px
					p Join us and be part of a team that is driven to create products that protect millions of lives every day. We continuously push the boundaries of innovation to cater to the intrinsic needs of glove users around the world. If you are looking for a fulfilling and enriching career that provides you with the opportunity to make a real difference, talk to us about starting on your journey with S&S Glove.





