section.product-detail.section-3(class="xl:py-100px py-50px")
	.container
		.flex.flex-col(class="md:grid md:grid-cols-2 gap-30px lg:gap-50px")
			-for(i=0;i<4;i++)
				.product-item-features.grid(class="rounded-lg rounded-tr-40px rounded-bl-40px lg:grid-cols-[.5fr_1fr] grid-cols-[.7fr_1fr] max-h-200px min-h-200px overflow-hidden shadow-[2px_1px_10px_rgba(0,0,0,0.2)]")
					.img.zoom-img
						+PugImg().w-full.h-full.object-cover
					.content(class="p-30px lg:py-35px lg:px-50px flex flex-col")
						h3.text-28px.font-bold.text-primary.mb-5px Safety
						.desc.flex-1.overflow-auto.text-20px.list-disc
							ul
								li Anti-infection
								li Anti-infection
								li Anti-infection