.swiper-slide.section-home-4
	.section-swiper.bg-gradient.container-padding.flex.justify-center.flex-col
			h1.font-Gilroy.font-black.text-secondary.text-center(class="text-64px md:text-80px xl:text-100px") Mặt bằng
			.wrap-slide.relative
				.swiper
					.swiper-wrapper
						-for(i=0;i<5;i++)
							.swiper-slide
								.img
									img.swiper-gl-image(src="./img/s4-matbang_1.png", alt)
				.wrap-button-custom
					.btn.btn-prev.btn-sw-3
					.btn.btn-next.btn-sw-3