section.section-home-4(class="xl:py-100px md:py-50px py-30px")
	.container(class="")
		.item-home-4.rounded-8px.rounded-bl-30px(class="py-30px" setBackground="./img/homepage/6.png" data-aos='zoom-in-up')
			.flex.flex-row.flex-wrap
				div(class="md:basis-5/12 basis-full wrap-img content-left")
				div(class="md:basis-7/12 basis-full content-right")
					.content-home-4
						h2.title-40px.mb-5px At S&S Glove, quality comes first.
						.desc.text-20px.text-gray.leading-normal
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante dui, feugiat quis tempor quis, blandit in enim.Nunc sed est nec libero egestas porta. Nunc pretium viverra justo, aliquet viverra elit gravida nec.
							p Suspendisse fermentum venenatis faucibus. Nullam venenatis vel arcu id suscipit.
						+LinkProduct('View Products').justify-end.flex.mt-30px
		.item-home-4.rounded-8px.rounded-bl-30px(class="py-30px" data-aos="zoom-in-up" data-aos-delay="300")
			.flex.flex-row.flex-wrap
				div(class="content-left basis-full md md:basis-5/12 wrap-img")
					.img
						img(src="./img/homepage/8.jpg", alt="" class="")
				div(class="content-right basis-full md:basis-7/12 lg:pl-30px lg:pr-80px")
					.content-home-4
						h2.title-40px.mb-5px Safety you can trust.
						.desc.text-20px.text-gray.leading-normal
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante dui, feugiat quis tempor quis, blandit in enim.Nunc sed est nec libero egestas porta. Nunc pretium viverra justo, aliquet viverra elit gravida nec.
							p Suspendisse fermentum venenatis faucibus. Nullam venenatis vel arcu id suscipit.
						+LinkProduct('View Products').justify-end.flex.mt-30px
