footer(class="bg-[#F1F7FC] py-30px md:py-50px lg:py-100px")
	.container
		.grid(class="grid-cols-1 lg:grid-cols-2 gap-30px sm:gap-x-16")
			.img-map(class="")
				iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.226132135222!2d106.6968882!3d10.7878182!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb2887356ab89d12b!2sC%C3%A1nh%20Cam%20-%20Web%20Design%20Agency!5e0!3m2!1svi!2s!4v1661572931422!5m2!1svi!2s", width="100%", height="100%", style="border:0;", allowfullscreen, loading="lazy", referrerpolicy="no-referrer-when-downgrade")
			.content
				h3.uppercase.mb-30px.title-40px S&S GLOVE corporation
				.wrap-table
					table
						tbody
							tr
								td Office:
								td
									p Lot Vb.20a2, Road 24, Tan Thuan Export Processing Zone, District 7, Ho Chi Minh City, Vietnam
							tr
								td Factory:
								td
									p Lot 4, D6 Street, Dat Do I Industrial Park, Phuoc Loc Tho Commune, Dat Do District, Ba Ria - Vung Tau Province, Vietnam
							tr
								td Mail:
								td
									p info@ssglove.vn
							tr
								td Telephone
								td
									p (+84) 283 8725 999. - Fax: (+84) 283 8725 888.
							tr
								td Website
								td
									p ssglove.vn
				ul.list-social.mt-30px.flex.gap-x-15px
					li
						a(href="")
							img(src="./img/homepage/footer_1.svg", alt="")
					li
						a(href="")
							img(src="./img/homepage/footer_2.svg", alt="")
					li
						a(href="")
							img(src="./img/homepage/footer_3.svg", alt="")
					li
						a(href="")
							img(src="./img/homepage/footer_4.svg", alt="")
.sub-footer.min-h-100px.bg-primary.flex.items-center
	.container.flex.justify-between.text-white(class="items-start sm:items-center gap-20px sm:gap-0 sm:flex-row flex-col py-5 sm:py-2")
		.logo
			img(src="./img/homepage/logo_white.svg", alt="")
		.copy-right.text-20px.font-thin(class="text-left sm:text-right") © Copyright: 2022 S&S Glove Corporation. All Rights Reserved.
