section.adv.we-are-ssg.section-1(class="py-30px sm:py-50px lg:py-100px")
	.container
		.flex(class="lg:grid flex-col lg:grid-cols-[1fr_.95fr] gap-30px lg:gap-60px xl:gap-125px")
			div(class="wrap-content relative")
				.wrap.top-0.left-0.w-full.h-full(class="relative lg:absolute flex-col flex")
					h2.title-40px(class="xl:mb-30px mb-15px") Product development
					.desc.text-20px.text-gray.margin-p.flex-1.overflow-auto.pr-5
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae semper tortor. Duis consequat risus id nisl aliquam tempus. Duis vestibulum suscipit neque, id ullamcorper urna pharetra ac. Cras sed interdum elit, a porta arcu. Etiam auctor scelerisque efficitur. Vestibulum
						p Maecenas nec metus gravida, cursus nibh eu, tincidunt nunc. Morbi varius malesuada diam et molestie. Maecenas commodo euismod est a bibendum. Nulla molestie interdum finibus. Cras eu risus felis. Vestibulum accumsan bibendum nulla, a vehicula urna elementum ac.
			div(class="wrap-video flex flex-col items-center justify-center")
				.img
					+PugImg('./img/advancements/2.svg')
				.tag-name.bg-primary.py-3.px-35px.rounded-lg.text-white.text-center
					h2.text-28px.font-bold.mb-5px SSG Revolution
					p.text-20px Vitamin E + Lanolin + Aloe Vera