section.section-product-detail.section-1(class="xl:py-100px md:py-50px py-30px")
	.container
		div(class="flex flex-col lg:grid lg:grid-cols-2 gap-30px")
			.wrap-img
				.slide-img-main
					.swiper
						.swiper-wrapper
							-for(i=0;i<5;i++)
								.swiper-slide
									.img
										a(href="./img/product/1.png" data-fancybox class="flex items-center justify-between")
											img(data-src="./img/product/1.png", alt="" class="lozad max-h-full max-w-full object-contain")
				.slide-img-thumb(class="sm:max-w-370px sm:mx-auto")
					.swiper
						.swiper-wrapper
							-for(i=0;i<5;i++)
								.swiper-slide
									.img.flex.items-center.justify-center
										div
											img.max-w-full.max-h-full.object-contain(data-src="./img/product/1.png", alt="" class="lozad")
			.wrap-content
				.wrap.sticky.top-100px
					h1.title-40px.uppercase.leading-tight SSG MOISTURE LOCK
					h2.uppercase.text-28px.font-normal.text-primary Nitrile Gloves
					.desc.text-20px.text-gray.mt-30px.margin-p.mb-30px
						p Nitrile S&S Gloves, with a reasonable price and high quality, are widely used by consumers in many different areas such as: hospital, healthcare, automobile, etc.
					.product-info
						table
							tr
								td Color
								td White - Custom
							tr
								td Size
								td S - M - L - XL
							tr
								td Box
								td 24.5 x 12.5 x 7
							tr
								td Component
								td 100% Nitrile rubler
							tr
								td Reserve
								td 10 - 30 Celsius. No direct sunlight
							tr
								td Notice
								td One time use
					.flex.items-center.gap-20px
						a(href="#popup-contact-form" data-fancybox data-src="#popup-contact-form" class="text-white flex items-center justify-center text-20px font-semibold bg-primary transition-all duration-300 rounded-lg hover:bg-secondary md:min-w-250px w-1/2 sm:w-auto py-2").btn Contact
						a(href="" class="text-white flex items-center justify-center text-20px font-semibold hover:bg-primary bg-secondary transition-all duration-300 rounded-lg md:min-w-250px w-1/2 sm:w-auto py-2").btn Download PDF
	.hidden
		#popup-contact-form
			.wrap-form.bg-blue-2.py-30px.rounded-lg(class="md:px-45px px-20px w-full")
				.title-40px.mb-30px Sales contact
				.section-contact-us.wrap-form(class="flex flex-col sm:grid sm:grid-cols-2 gap-25px")
					.form-group
						input(type="text" placeholder="Company Name")
					.form-group
						input(type="text" placeholder="First Name")
					.form-group
						input(type="text" placeholder="Last Name")
					.form-group
						input(type="text" placeholder="Job Title")
					.form-group
						input(type="text" placeholder="Address")
					.form-group
						input(type="text" placeholder="Zip / Postcode")
					.form-group
						input(type="text" placeholder="City")
					.form-group
						input(type="text" placeholder="State / Province")
					.form-group
						select(name="")
							option(value="" selected hidden) Country
							option(value="") Vietnam
					.form-group
						select(name="")
							option(value="" selected hidden) Region
					.form-group
						input(type="text" placeholder="Phone Number")
					.form-group
						input(type="text" placeholder="Fax Number")
					.form-group.col-span-2
						input(type="text" placeholder="Email Address")
					.form-group
						select(name="")
							option(value="Shipping Destination Country" hidden selected) Shipping Destination Country
					.form-group
						input(type="text" placeholder="Shipping Destination Region")
					.form-group.col-span-2
						input(type="text" placeholder="Other Destination(s)")
					.form-group.col-span-2
						textarea(name="", cols="30", rows="10" placeholder="Leave A Message")
					.button-submit
						input(type="submit" value="Submit")

