.swiper-slide.section-home-9
	.section-swiper.bg-white
		.wrap-slide-main.flex.flex-col.h-full
			.wrap-slide.relative
				.swiper
					.swiper-wrapper
						-for(i=0;i<5;i++)
							.swiper-slide
								.img
									img.swiper-gl-image(src="./img/s9-img.png", alt="")
				.wrap-button-inbox
					.btn.btn-prev.btn-sw-3
					.btn.btn-next.btn-sw-3
			.wrap-content.grid(class="lg:grid-cols-[1fr_1.4fr] gap-30px")
				.content-left
					h1.font-Gilroy.text-primary.uppercase.font-black(class="xl:pr-50px pr-0 md:text-50px text-45px") Kiến trúc độc đáo xứng tầm biểu tượng độc tôn
				.content-right.text-20px
					p Tọa lạc tại trung tâm của thành phố Vĩnh Long, kết nối 2 trục đường chính Phó Cơ Điều (Quốc lộ 53) và Nguyễn Huệ, từ KĐT T&T Tamda cư dân có thể nhanh chóng kết nối với TP.HCM và các tỉnh lân cận thông qua các tuyến giao thông huyết mạch đã hoàn
					p Tọa lạc tại trung tâm của thành phố Vĩnh Long, kết nối 2 trục đường chính Phó Cơ Điều (Quốc lộ 53) và Nguyễn Huệ, từ KĐT T&T Tamda cư dân có thể nhanh chóng kết nối với TP.HCM và các tỉnh lân cận thông qua các tuyến giao thông huyết mạch đã hoàn
