section.section-home-3(setBackground="./img/homepage/3.jpg")
	.container
		.box-home-3.bg-primary.p-11.rounded-lg.ml-auto.relative(class="sm:max-w-500px" data-aos="fade-right" data-aos-delay="300")
			h3.title-line.text-40px.text-white.border-b-2.border-white.pb-1.font-extrabold.block Our factory
			.edge.absolute.bottom-0.right-0
				img(src="./img/homepage/4.png", alt="")
			.wrap.grid.grid-cols-2.gap-x-12.gap-y-7.mt-50px
				.item-number.text-white
					h1.text-60px.font-extrabold.leading-snug  01
					p.text-20px.uppercase Factory
				.item-number.text-white
					h1.text-60px.font-extrabold.leading-snug  10
					p.text-20px.uppercase Production Lines
				.item-number.text-white
					h1.text-60px.font-extrabold.leading-snug  42k
					p.text-20px.uppercase Gloves/Hour
				.item-number.text-white
					h1.text-60px.font-extrabold.leading-snug  100+
					p.text-20px.uppercase Employees
				.item-number.text-white
					h1.text-60px.font-extrabold.leading-snug  3.5B
					p.text-20px.uppercase total gloves

