.section-home-8
	.wrap-custom-slide
		position: relative
		&::before
			content: ''
			position: absolute
			left: 50%
			transform: translateX(-50%)
			width: r(1px)
			height: r(150px)
			background-color: #fff
		.wrap-active-number-slide
			position: absolute
			top: 50%
			transform: translateY(-50%)
			right: 100%
			margin-right: r(40px)
	.wrap-content-main
		width: 100%
		.wrap-slide-text
			max-width: 72%
			padding-left: r(70px)
	.img-main-slide
		margin-bottom: r(35px)
