.swiper-slide
	.section-home-8.section-swiper.bg-gradient
		.container.flex.flex-col.justify-center.h-full
			.img-main-slide
				.swiper
					.swiper-wrapper
						-for(i=0;i<5;i++)
							.swiper-slide
								.img.flex.justify-center
									img(src="./img/s8-img.png", alt)
			.wrap-bottom-title.flex.justify-between
				div(class="w-5/12")
					h1.title.text-secondary.text-100px.font-Gilroy.font-black.leading-none Tiện ích
						br
						| Nội Khu
				div(class="w-7/12")
					.wrap-content-main.flex.items-center
						.wrap-custom-slide.relative.flex.items-center.justify-center.gap-50px.w-fit.mx-auto.mt-40px
							.wrap-active-number-slide.border.border-white.rounded-lg.w-fit.text-white.px-15px
								span.current 3
								span.seperator /
								span.total 5
							.btn.btn-prev.btn-sw-4
							.btn.btn-next.btn-sw-4
						.wrap-slide-text
							.swiper
								.swiper-wrapper
									-for(i=0;i<5;i++)
										.swiper-slide
											.desc.text-white.text-20px Kết hợp cảm hứng bất tận về dòng chảy thiên nhiên và hiện thực hóa cuộc sống hiện đại, tiện nghi với nhiều trải nghiệm đắt giá cho mọi cư dân, T&T Tamda còn bố trí các tiện ích đa dạng vừa tối đa hóa hoạt động sống vừa gắn liền cùng mạch sống tự nhiên ngay trong lòng nội khu.

