section.we-are-ssg.section-3.relative(class="py-30px sm:py-50px xl:py-100px")
	.container
		.flex(class="flex-col lg:grid lg:grid-cols-2 gap-30px")
			.img(class="hidden lg:block")
				img(src="./img/we-are-ssg/2.png", alt="" class="max-w-full lg:max-w-[60vw] xl:max-w-960px w-960px left-0 lg:absolute top-1/2 lg:-translate-y-1/2")
			.content(class="pl-0 lg:pl-70px")
				h2.title-40px(class="mb-15px xl:mb-45px") Core values
				ul.wrap-list
					li.flex(class="mt-40px first:mt-0px")
						.icon.flex-shrink-0.w-80px.mr-40px
							img(src="./img/icon/1.svg", alt="" class="xl:w-80px")
						.text
							h3.text-primary.font-bold.mb-5px.text-28px Protect Community Health
							p.text-20px.text-gray Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum libero ac ante imperdiet, id molestie nunc accumsan. In a mauris et nibh varius condimentum.
					li.flex(class="mt-40px first:mt-0px")
						.icon.flex-shrink-0.w-80px.mr-40px
							img(src="./img/icon/2.svg", alt="" class="xl:w-80px")
						.text
							h3.text-primary.font-bold.mb-5px.text-28px High quality gloves
							p.text-20px.text-gray Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum libero ac ante imperdiet, id molestie nunc accumsan. In a mauris et nibh varius condimentum.
					li.flex(class="mt-40px first:mt-0px")
						.icon.flex-shrink-0.w-80px.mr-40px
							img(src="./img/icon/3.svg", alt="" class="xl:w-80px")
						.text
							h3.text-primary.font-bold.mb-5px.text-28px Reduce CO2 emissions
							p.text-20px.text-gray Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum libero ac ante imperdiet, id molestie nunc accumsan. In a mauris et nibh varius condimentum.




