.swiper-slide.section-home-1(data-title="Banner")
	.section-swiper.relative(setBackground="./img/1.png")
		.container
			.img-font.flex.items-center.justify-center
				img(src="./img/s1-title.png", alt="")