header.bg-black(class='h-[100px]')
	.container.text-white.flex.items-center.h-full(class='sm:bg-red-500')
		p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus consequatur quod reprehenderit voluptatum itaque aliquam odio nihil accusamus pariatur dolorem rem quaerat illo aperiam, hic provident inventore officiis iure molestiae.
	.gap-5.gap-7.bg-slate-100(class='gap-5')
.home-3
	p sadasdasd