header.fixed.top-0.left-0.w-full
	nav.flex.items-center.justify-between
		.header-logo
			a(href="")
				img(src="./img/Logo.png", alt="")
		.header-right
			.header-menu
				ul
					li
						a(href="javascript:;") Tổng quan
					li
						a(href="javascript:;") Vị trí
					li
						a(href="javascript:;") Mặt bằng
					li
						a(href="javascript:;") Dự án
					li
						a(href="javascript:;") Sản phẩm
					li
						a(href="javascript:;") Tiện ích
					li
						a(href="javascript:;") Thiết kế
					li
						a(href="javascript:;") Lợi thế
					li
						a(href="javascript:;") Tin tức
				.line-active#marker
					img(src="./img/Icon/fly.png", alt="")
			.header-hambuger(class="block lg:hidden")
				span
				span
				span
.header-mobile
	ul
		li
			a(href="#section-1") Tổng quan
		li
			a(href="#section-2") Vị trí
		li
			a(href="#section-3") Mặt bằng
		li
			a(href="#section-4") Dự án
		li
			a(href="#section-5") Sản phẩm
		li
			a(href="#section-6") Tiện ích
		li
			a(href="#section-7") Thiết kế
		li
			a(href="#section-8") Lợi thế
		li
			a(href="#section-9") Tin tức
.overlay