header.fixed.top-0.left-0.w-full
	nav.flex.items-center.justify-between
		.header-logo
			a(href="")
				img(src="./img/Logo.png", alt="")
		.header-right
			.header-menu
				ul
					li
						a(href="") Tổng quan
					li
						a(href="") Vị trí
					li
						a(href="") Mặt bằng
					li
						a(href="") Dự án
					li
						a(href="") Sản phẩm
					li
						a(href="") Tiện ích
					li
						a(href="") Thiết kế
					li
						a(href="") Lợi thế
					li
						a(href="") Tin tức
				.line-active
					img(src="./img/Icon/fly.png", alt="")
			.header-hambuger
				span
				span
				span